// font weights
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

// font sizes
$header-title-size: 50px;

// Base font
$base-font-family: Raleway;

// Header
$header-font-weight: $bold;
$header-font-color: #ffffff;

