// font weights
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Base font
$base-font-family: Raleway;

// Header
$header-font-weight: $bold;
$header-font-color: #ffffff;
$header-title-size: 26px;
$header-desktop-title-size: 50px;
$header-navbar-size: 18px;

// Menu
$menu-font-size: 24px;