@mixin webkit-transform ($deg){
	-webkit-transform: rotate($deg);
  	-moz-transform: rotate($deg);
  	-o-transform: rotate($deg);
  	transform: rotate($deg)
}

@mixin webkit-transition ($s){
	-webkit-transition: $s ease-in-out;
  	-moz-transition: $s ease-in-out;
  	-o-transition: $s ease-in-out;
  	transition: $s ease-in-out;
}

@mixin font-face($name, $src, $weight, $size){
	font-family: $name;
	src: $src;
	font-weight: $weight;
	font-size: $size;
}

// ipad, desktop sizes

@mixin desktop-title-size ($min-width) {
	@media screen and (min-width: $min-width) {
		@include font-face(Raleway, fonts/Raleway-Bold, $bold, $header-desktop-title-size)
	}
}
