@mixin font-face($name, $src, $weight, $color){
	font-family: $name;
	src: $src;
	font-weight: $weight;
	color: $color;
}

@mixin webkit-transform ($deg){
	-webkit-transform: rotate($deg);
  	-moz-transform: rotate($deg);
  	-o-transform: rotate($deg);
  	transform: rotate($deg)
}

@mixin webkit-transition ($s){
	-webkit-transition: $s ease-in-out;
  	-moz-transition: $s ease-in-out;
  	-o-transition: $s ease-in-out;
  	transition: $s ease-in-out;
}

// ipad, desktop sizes

@mixin ipad-size-title ($min-width) {
	@media screen and (min-width: $min-width) {
		left: 15%;
		top: 4%;
	}
}

@mixin desktop-size-title ($min-width) {
	@media screen and (min-width: $min-width) {
		left: 10%;
		top: 5%;
	}
}


@mixin ipad-size-hamburger ($min-width) {
	@media screen and (min-width: $min-width) {
		left: 90%;
		top: 5%;
	}
}

@mixin desktop-size-hamburger ($min-width) {
	@media screen and (min-width: $min-width) {
		left: 95%;
		top: 8%;
	}
}