@mixin background-size($cover) {
	-webkit-background-size: $cover;
  	-moz-background-size: $cover;
  	-o-background-size: $cover;
  	background-size: $cover;
}

@mixin font-face($name, $src){
	font-family: $name;
	src: $src;
}